.form {
  display: grid;
  gap: 12px;

  .container {
    display: grid;
    gap: 8px;
    text-align: center;

    .title {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 36px;
      color: #212121;
    }

    .text {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      color: #414141;
    }
  }
}
