.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #156bfd;
  border-radius: 30px;
  padding: 10px 20px 10px 25px;
}

a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}
